.flex .nav-left {
  position: relative;
  align-items: center;
}

.line::before {
  content: "";
  width: 4px;
  height: 40%;
  left: 37%;
  position: absolute;
  background: yellow;
}

:root {
  --color-orange: #ff5c00;
  --color-dark: #;
}

/* NAVBAR */

.left {
  grid-area: left;
  justify-content: center;
  flex-direction: ;
}

.right {
  grid-area: right;
  justify-content: flex-end;
  align-items: center;
  margin-top: -5rem;
}

/* Info Section */

.banner {
  margin-top: 7rem;
  border: 2px solid var(--border-color);
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

/* .info-divider {
  background
} */

.skills > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: Wrap;
}

.skills > div i {
  font-size: 5rem;
}
